services:
  postgres:
    image: postgres:15-alpine
    container_name: sptrans-postgres
    environment:
      POSTGRES_DB: sptrans_test
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - sptrans-network

  redis:
    image: redis:7-alpine
    container_name: sptrans-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - sptrans-network

  minio:
      image: minio/minio:latest
      container_name: sptrans-minio
      ports:
        - "9000:9000"  # API
        - "9001:9001"  # Console
      environment:
        - MINIO_ROOT_USER=minioadmin
        - MINIO_ROOT_PASSWORD=minioadmin
      volumes:
        - minio-data:/data
      command: server /data --console-address ":9001"
      networks:
        - sptrans-network

  grafana:
    image: grafana/grafana:latest
    container_name: sptrans-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - postgres
    networks:
      - sptrans-network

networks:
  sptrans-network:
    driver: bridge

volumes:
  postgres-data:
  minio-data:
  redis-data:
  grafana-data: